.footer {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  .logo2 {
    padding: 40px 0 10px 0;
    width: 100px;
  }

  p {
    color: white;
    padding: 20px;
    font-size: 13px;
  }
}
