.galery {
  img {
    border-radius: 10px;
    max-height: 400px;
    width: 100%;
    margin: 30px 0;
  }
}

.description-container {
  .description-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .top-left {
      h2 {
        color: $color-1;
        font-weight: 500;
      }

      h3 {
        font-size: 14px;
        font-weight: 500;
        margin: 8px 0;
      }
    }

    .top-right-host {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 25px;

      h4 {
        color: $color-1;
        font-weight: 500;
        max-width: 50px;
      }

      img {
        border-radius: 100px;
        width: 35%;
      }
    }
  }

  .description-middle {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    .tags {
      ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        li {
          color: $color-3;
          background: $color-1;
          padding: 5px 25px;
          border-radius: 10px;
          font-size: 10px;
          font-weight: 600;
        }
      }
    }

    .rating {
      display: flex;
      gap: 10px;
    }
  }

  .description-bottom {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
  }
}
